.wrapper {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: 1px solid transparent;
    color: rgba(22, 24, 35, 1);
    min-width: 105px;
    padding: 6px 15px;
    cursor: pointer;

    // border-radius: 40px;
}
.primary {
    border: 2px solid var(--primary-color-black);
    background-color: var(--primary-color-black);
    color: var(--primary-color-white);
    &:hover {
        background-color: transparent;
        // border: 2px solid var(--primary-color-black);
        color: black;
    }
}

.transparent {
    background-color: transparent;
    border: 1px solid #bbbbbb59;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1.4rem;

    &:hover {
        // background-color: var(--primary-color-black);
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
    }
}

.secondary {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color-white);
    &:hover {
        background-color: transparent;
        // border: 2px solid var(--primary-color-black);
        color: var(--secondary-color);
    }
}
.icon + .title {
    margin-left: 6px;
}
.title + .icon {
    margin-left: 6px;
}
