@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-size: 1.6rem;

    --primary-color-black: #1e1e1e;
    --primary-color-white: #fff;
    --secondary-color: #116466;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--primary-size);
    text-rendering: optimizeSpeed;
}
p {
    font-size: 1.4rem;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: var(--primary-color-black);
}
input, select {
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: var(--primary-size);
    font-weight: 500;
    user-select: none;
}
.swiper-slide {
    height: 600px;
}
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    left: 50%;
    margin-right: 17.3px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    opacity: 1;
    margin: 0 4px;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    background-color: var(--primary-color-black);
}
