.wrapper {
    padding: 90px 0 40px 0;
    text-align: center;
    h2 {
        font-size: 4rem;
        font-family: 'Quicksand', sans-serif;
        font-style: italic;
        span {
            border-bottom: 3px solid var(--secondary-color);
            
        }
    }
}