.wrapper {
    height: auto;
    padding: 30px;
    
}
.bg-gray {
    background-color: rgb(247, 247, 247);
}

.item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
