.wrapper {
    display: none;
    // transform:translateY(-30px) ;
    // visibility: hidden;
    // opacity: 0;
    // transition: 0.5s ease-in-out;
}
.no {
    display: block;
    // transform:translateY(3px) ;
    // visibility: visible;
    // opacity: 1;
    // transition: 0.3s ease;
}
.d-none {
    // display: none;
    transform:translateY(-10px) ;
    visibility: hidden;
    opacity: 0;
}
.d-block {
    transform:translateY(3px) ;
    visibility: visible;
    opacity: 1;
    
}
.menu-btn {
    width: 100%;
    border-radius: 0;
    // text-align: left;
}
.select-btn {
    display: flex;
    align-items: center;
    font-family:  'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    justify-content: space-between;
    width: 200px;
    padding: 8px 10px;
    border: 1px solid #bbbbbb59;
    border-radius: 5px;
}
